set timeout=5
set default=4

insmod part_msdos
insmod iso9660
insmod search_fs_file
insmod multiboot2
insmod serial
insmod echo

serial --unit=0 --speed=38400 --word=8 --parity=no --stop=1
terminal_input serial
terminal_output serial

# Disable graphics terminal output so GRUB uses the serial console.
# The ISO will still boot through serial if qemu is started with -serial stdio.

menuentry 'Install Toriginal OS' {
    echo 'Searching for /boot/freeNT...'
    search --no-floppy --file --set=root /boot/freeNT
    echo 'Starting Toriginal OS installer mode...'
    multiboot2 /boot/freeNT install
    boot
}

menuentry 'Run Toriginal OS Shell' {
    echo 'Searching for /boot/freeNT...'
    search --no-floppy --file --set=root /boot/freeNT
    echo 'Starting Toriginal OS serial shell...'
    multiboot2 /boot/freeNT shell
    boot
}

menuentry 'Boot Toriginal OS (GUI)' {
    echo 'Searching for /boot/freeNT...'
    search --no-floppy --file --set=root /boot/freeNT
    echo 'Booting Toriginal OS desktop mode...'
    multiboot2 /boot/freeNT gui
    boot
}

menuentry 'Test Installer' {
    echo 'Searching for /boot/freeNT...'
    search --no-floppy --file --set=root /boot/freeNT
    echo 'Booting Toriginal OS installer test...'
    multiboot2 /boot/freeNT test-installer
    boot
}

menuentry 'Run Test EXE' {
    echo 'Searching for /boot/freeNT...'
    search --no-floppy --file --set=root /boot/freeNT
    echo 'Booting Toriginal OS and running embedded test EXE...'
    multiboot2 /boot/freeNT run-exe
    boot
}

menuentry 'GRUB Rescue Shell' {
    echo 'Entering GRUB rescue shell...'
    terminal_input console
    terminal_output console
}
