set timeout=5
set default=0

insmod part_msdos
insmod iso9660
insmod search_fs_file
insmod multiboot2
insmod echo

if loadfont /boot/grub/unicode.pf2; then
  set gfxmode=auto
  insmod gfxterm
  terminal_output gfxterm
fi

menuentry 'freeNT OS (Multiboot2)' {
    echo 'Searching for /boot/freeNT...'
    search --no-floppy --file --set=root /boot/freeNT
    echo 'Booting freeNT OS...'
    multiboot2 /boot/freeNT
    boot
}

menuentry 'freeNT OS (Text Mode)' {
    echo 'Searching for /boot/freeNT...'
    search --no-floppy --file --set=root /boot/freeNT
    echo 'Booting freeNT OS in text mode...'
    multiboot2 /boot/freeNT novaesa
    boot
}

menuentry 'Rescue Shell' {
    echo 'Entering GRUB rescue shell...'
    terminal_input console
    terminal_output console
}
