set timeout=5
set default=0

insmod vbe
insmod video_bochs
insmod video_cirrus
insmod efi_gop
insmod all_video
set gfxpayload=keep

menuentry "toriginal_OS" {
  multiboot2 /boot/kernel.elf
  module2 /boot/assets/wallpapers/unnamedpinetree^_^.png /system/gui/wallpapers/unnamedpinetree^_^.png
  module2 /boot/assets/wallpapers/sky_blu.png /system/gui/wallpapers/sky_blu.png
  module2 /boot/assets/startmenu/orb.png /system/gui/startmenu/orb.png
  module2 /boot/assets/startmenu/taskbar.png /system/gui/startmenu/taskbar.png
  module2 /boot/assets/startmenu/shortcut.png /system/gui/startmenu/shortcut.png
  module2 /boot/assets/startmenu/programs_block.png /system/gui/startmenu/programs_block.png
  module2 /boot/assets/startmenu/menu_bg.png /system/gui/startmenu/menu_bg.png
  module2 /boot/assets/startmenu/power.png /system/gui/startmenu/power.png
  module2 /boot/assets/startmenu/orb_hover.png /system/gui/startmenu/orb_hover.png
  module2 /boot/assets/cursor/cursor_hand.png /sys/gui/assets/cursor_hand.png
  module2 /boot/assets/cursor/cursor_arrow.png /sys/gui/assets/cursor_arrow.png
  boot
}

menuentry "toriginal_OS (start in GUI)" {
  multiboot2 /boot/kernel.elf gui
  module2 /boot/assets/wallpapers/unnamedpinetree^_^.png /system/gui/wallpapers/unnamedpinetree^_^.png
  module2 /boot/assets/wallpapers/sky_blu.png /system/gui/wallpapers/sky_blu.png
  module2 /boot/assets/startmenu/orb.png /system/gui/startmenu/orb.png
  module2 /boot/assets/startmenu/taskbar.png /system/gui/startmenu/taskbar.png
  module2 /boot/assets/startmenu/shortcut.png /system/gui/startmenu/shortcut.png
  module2 /boot/assets/startmenu/programs_block.png /system/gui/startmenu/programs_block.png
  module2 /boot/assets/startmenu/menu_bg.png /system/gui/startmenu/menu_bg.png
  module2 /boot/assets/startmenu/power.png /system/gui/startmenu/power.png
  module2 /boot/assets/startmenu/orb_hover.png /system/gui/startmenu/orb_hover.png
  module2 /boot/assets/cursor/cursor_hand.png /sys/gui/assets/cursor_hand.png
  module2 /boot/assets/cursor/cursor_arrow.png /sys/gui/assets/cursor_arrow.png
  boot
}

