set timeout=5
set default=0

insmod vbe
insmod video_bochs
insmod video_cirrus
insmod efi_gop
insmod all_video
set gfxpayload=keep

menuentry "toriginal_OS" {
	multiboot2 /boot/kernel.elf
	module2 /boot/assets/wallpapers/sky_blue.png /system/gui/wallpapers/sky_blue.png
	module2 /boot/assets/wallpapers/pinetree.png /system/gui/wallpapers/pinetree.png
	module2 /boot/assets/startmenu/orb.png /system/gui/startmenu/orb.png
	module2 /boot/assets/startmenu/orb_hover.png /system/gui/startmenu/orb_hover.png
	module2 /boot/assets/startmenu/taskbar.png /system/gui/startmenu/taskbar.png
	module2 /boot/assets/startmenu/panel.png /system/gui/startmenu/panel.png
	module2 /boot/assets/startmenu/programs.png /system/gui/startmenu/programs.png
	module2 /boot/assets/startmenu/power.png /system/gui/startmenu/power.png
	module2 /boot/assets/cursor/cursor_arrow.png /sys/gui/assets/cursor_arrow.png
	module2 /boot/assets/cursor/cursor_hand.png /sys/gui/assets/cursor_hand.png
	boot
}

menuentry "toriginal_OS (start in GUI)" {
	multiboot2 /boot/kernel.elf gui
	module2 /boot/assets/wallpapers/sky_blue.png /system/gui/wallpapers/sky_blue.png
	module2 /boot/assets/wallpapers/pinetree.png /system/gui/wallpapers/pinetree.png
	module2 /boot/assets/startmenu/orb.png /system/gui/startmenu/orb.png
	module2 /boot/assets/startmenu/orb_hover.png /system/gui/startmenu/orb_hover.png
	module2 /boot/assets/startmenu/taskbar.png /system/gui/startmenu/taskbar.png
	module2 /boot/assets/startmenu/panel.png /system/gui/startmenu/panel.png
	module2 /boot/assets/startmenu/programs.png /system/gui/startmenu/programs.png
	module2 /boot/assets/startmenu/power.png /system/gui/startmenu/power.png
	module2 /boot/assets/cursor/cursor_arrow.png /sys/gui/assets/cursor_arrow.png
	module2 /boot/assets/cursor/cursor_hand.png /sys/gui/assets/cursor_hand.png
	boot
}
