set timeout=5
set default=0

# Load essential filesystem and platform modules
insmod part_msdos
insmod part_gpt
insmod iso9660
insmod search_fs_file
insmod multiboot2
insmod serial
insmod echo
insmod efi_gop
insmod font
insmod vbe
insmod video_bochs
insmod video_cirrus
insmod all_video
set gfxpayload=keep

# Initialize serial port communication
serial --unit=0 --speed=38400 --word=8 --parity=no --stop=1

# Configures terminal input/output to use both standard console display AND serial line interface
terminal_input console serial
terminal_output console serial

menuentry "Install Toriginal OS" {
    echo "Searching for Toriginal OS boot partition..."
    # Points explicitly to the exact path where your build script places the kernel
    search --no-floppy --file --set=root /boot/kernel.bin
    
    echo "Starting Toriginal OS installer mode..."
    multiboot2 /boot/kernel.bin install
    
    echo "Loading system installation source files..."
    module2 /sysroot.tar
    boot
}

menuentry "something else" {
    echo " ############################"
    echo "  /\   /\  ##################"
    echo " /  \ /  \      ### A A"
    echo "(  0   0  )     ###(^_^)   )"
    echo " \   ^   /      ###(______)"
    echo " (       )      ###ORIGINAL OS"
    echo "                ###    made by warqwert"
    echo ""
    echo " [ Press ENTER to Go Back ]"
    read
}

menuentry "GRUB Rescue Shell" {
    echo "Entering GRUB rescue shell..."
    terminal_input console
    terminal_output console
}